@import '../../global.scss';

.todo {
    width: 100%;
    height: 100vh;
    background-color: $gunmetal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .todo-container {
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        h1 {
            font-size: 2.5rem;
            margin-top: 2rem;

            span {
                font-size: 2rem;
                font-weight: 300;
            }
        }

        .filter-buttons {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 2rem;
        }

        #list-heading {
            font-size: 1.75rem;
            margin-top: 3rem;
            font-weight: 400;
        }

        .todo-list {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            overflow: hidden;
            margin-top: 2rem;
        }
    }
}