.todo {
  width: 100%;
  height: 100vh;
  background-color: #242F40;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 425px) {
  .todo {
    width: 100vw;
    height: 100%;
    margin-left: 3rem;
  }
}
.todo .todo-container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.todo .todo-container h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
}
@media (max-width: 425px) {
  .todo .todo-container h1 {
    text-align: center;
  }
}
.todo .todo-container h1 span {
  font-size: 2rem;
  font-weight: 300;
}
.todo .todo-container .add-btn {
  height: 4rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-top: 1rem;
  background-color: #242F40;
  border: 2px solid #A4BEF3;
  color: #A4BEF3;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
@media (max-width: 425px) {
  .todo .todo-container .add-btn {
    height: 3rem;
    width: 3rem;
    margin-top: 1.5rem;
  }
}
.todo .todo-container .add-btn:hover {
  background-color: #A4BEF3;
  color: #242F40;
}
.todo .todo-container .add-btn span {
  font-size: 2rem;
  background-color: transparent;
}
.todo .todo-container .filter-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.todo .todo-container #list-heading {
  font-size: 1.75rem;
  margin-top: 1rem;
  font-weight: 400;
}
@media (max-width: 425px) {
  .todo .todo-container #list-heading {
    margin-top: 2rem;
  }
}
.todo .todo-container .todo-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 2rem;
}
@media (max-width: 425px) {
  .todo .todo-container .todo-list {
    flex-wrap: nowrap;
  }
}
.todo .todo-container .todo-list .todo-item {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-right: 2px solid #A4BEF3;
  border-bottom: 2px solid #A4BEF3;
  margin-bottom: 1rem;
}
@media (max-width: 425px) {
  .todo .todo-container .todo-list .todo-item {
    width: 95%;
  }
}
.todo .todo-container .todo-list .todo-item .viewing {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}
@media (max-width: 425px) {
  .todo .todo-container .todo-list .todo-item .viewing {
    flex-direction: column;
  }
}
.todo .todo-container .todo-list .todo-item .viewing .cb {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: -0.5rem;
}
@media (max-width: 425px) {
  .todo .todo-container .todo-list .todo-item .viewing .cb {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
.todo .todo-container .todo-list .todo-item .viewing .cb input[type=checkbox] {
  height: 2rem;
  width: 2rem;
  margin: 0 1rem;
  cursor: pointer;
}
.todo .todo-container .todo-list .todo-item .viewing .cb .todo-label[data-title] {
  width: 100%;
  position: relative;
  font-size: 2rem;
  font-weight: 300;
}
@media (max-width: 425px) {
  .todo .todo-container .todo-list .todo-item .viewing .cb .todo-label[data-title] {
    font-size: 1.25rem;
  }
}
.todo .todo-container .todo-list .todo-item .viewing .cb .todo-label[data-title]:hover::before {
  height: 4rem;
  width: 31rem;
  margin-top: -0.5rem;
  content: attr(data-title);
  position: absolute;
  z-index: 2;
  background-color: #242F40;
  cursor: pointer;
}
@media (max-width: 425px) {
  .todo .todo-container .todo-list .todo-item .viewing .cb .todo-label[data-title]:hover::before {
    height: 2rem;
    width: 10rem;
  }
}
.todo .todo-container .todo-list .todo-item .viewing .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo .todo-container .todo-list .todo-item .viewing .btn-group .todo-btn {
  height: 2.5rem;
  width: 5rem;
  margin: 0 0.25rem 0.5rem;
  background-color: #242F40;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}
.todo .todo-container .todo-list .todo-item .viewing .btn-group .link {
  border: 2px solid #A4BEF3;
  color: #A4BEF3;
  transition: all 0.5s ease;
}
.todo .todo-container .todo-list .todo-item .viewing .btn-group .link:hover {
  background-color: #A4BEF3;
  color: #242F40;
}
.todo .todo-container .todo-list .todo-item .viewing .btn-group .delete {
  border: 2px solid #B80F0A;
  color: #B80F0A;
  transition: all 0.5s ease;
  margin-right: 1rem;
}
.todo .todo-container .todo-list .todo-item .viewing .btn-group .delete:hover {
  background-color: #B80F0A;
  color: #242F40;
}
.todo .todo-container .todo-list .todo-item .viewing .btn-group .save {
  border: 2px solid #E0B0FF;
  color: #E0B0FF;
  transition: all 0.5s ease;
  margin-right: 1rem;
}
.todo .todo-container .todo-list .todo-item .viewing .btn-group .save:hover {
  background-color: #E0B0FF;
  color: #242F40;
}

/*# sourceMappingURL=todo.css.map */
