@import '../../../global.scss';

.todo-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-right: 2px solid $babyBlue;
    border-bottom: 2px solid $babyBlue;
    margin-bottom: 1rem;

    .viewing {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        .cb {
            display: flex;
            align-items: center;
            justify-content: center;
    
            input[type='checkbox'] {
                height: 2rem;
                width: 2rem;
                margin: 0 1rem;
                cursor: pointer;
            }
    
            .todo-label {
                font-size: 2rem;
                font-weight: 300;
            }

            .checked {
                text-decoration: line-through;
            }
        }
    
        .btn-group {
            display: flex;
            align-items: center;
            justify-content: center;
    
            .todo-btn {
                height: 2.5rem;
                width: 5rem;
                margin: 0 0.25rem 0.5rem;
                background-color: $gunmetal;
                border-radius: 50px;
                font-size: 1rem;
                font-weight: 700;
                cursor: pointer;
            }
    
            .edit, .cancel {
                border: 2px solid $babyBlue;
                color: $babyBlue;
                transition: all 0.5s ease;
    
                &:hover {
                    background-color: $babyBlue;
                    color: $gunmetal;
                }
            }
    
            .delete {
                border: 2px solid $crimson;
                color: $crimson;
                transition: all 0.5s ease;
                margin-right: 1rem;
    
                &:hover {
                    background-color: $crimson;
                    color: $gunmetal;
                }
            }
    
            .save {
                border: 2px solid $mauve;
                color: $mauve;
                transition: all 0.5s ease;
                margin-right: 1rem;
    
                &:hover {
                    background-color: $mauve;
                    color: $gunmetal;
                }
            }
        }
    }

    .editing {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        .input-group {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 1rem;
            margin-bottom: 0.5rem;

            .todo-label {
                font-size: 1.25rem;
                font-style: italic;
                font-weight: 300;
            }
    
            input[type='text'] {
                height: 2rem;
                width: 25rem;
                margin: 0 1rem;
                padding: 0.125rem 1rem;
                background-color: $gunmetal;
                color: white;
                border-radius: 50px;
                border: 2px solid $babyBlue;
                font-size: 1.25rem;
                font-weight: 300
            }
        }

        .btn-group {
            display: flex;
            align-items: center;
            justify-content: center;

            .todo-btn {
                height: 2.5rem;
                width: 5rem;
                margin: 0 0.25rem 0.5rem;
                background-color: $gunmetal;
                border-radius: 50px;
                font-size: 1rem;
                font-weight: 700;
                cursor: pointer;
            }

            .edit, .cancel {
                border: 2px solid $babyBlue;
                color: $babyBlue;
                transition: all 0.5s ease;

                &:hover {
                    background-color: $babyBlue;
                    color: $gunmetal;
                }
            }

            .delete {
                border: 2px solid $crimson;
                color: $crimson;
                transition: all 0.5s ease;
                margin-right: 1rem;

                &:hover {
                    background-color: $crimson;
                    color: $gunmetal;
                }
            }

            .save {
                border: 2px solid $mauve;
                color: $mauve;
                transition: all 0.5s ease;
                margin-right: 1rem;

                &:hover {
                    background-color: $mauve;
                    color: $gunmetal;
                }
            }
        }
    }
}