.todo-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-right: 2px solid #A4BEF3;
  border-bottom: 2px solid #A4BEF3;
  margin-bottom: 1rem;
}
.todo-item .viewing {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}
.todo-item .viewing .cb {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: -0.5rem;
}
.todo-item .viewing .cb input[type=checkbox] {
  height: 2rem;
  width: 2rem;
  margin: 0 1rem;
  cursor: pointer;
}
.todo-item .viewing .cb .todo-label[data-title] {
  width: 100%;
  position: relative;
  font-size: 2rem;
  font-weight: 300;
}
.todo-item .viewing .cb .todo-label[data-title]:hover::before {
  height: 3rem;
  width: 35rem;
  content: attr(data-title);
  position: absolute;
  background-color: #242F40;
  cursor: pointer;
}
.todo-item .viewing .cb .checked {
  text-decoration: line-through;
}
.todo-item .viewing .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-item .viewing .btn-group .todo-btn {
  height: 2.5rem;
  width: 5rem;
  margin: 0 0.25rem 0.5rem;
  background-color: #242F40;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.todo-item .viewing .btn-group .edit, .todo-item .viewing .btn-group .cancel {
  border: 2px solid #A4BEF3;
  color: #A4BEF3;
  transition: all 0.5s ease;
}
.todo-item .viewing .btn-group .edit:hover, .todo-item .viewing .btn-group .cancel:hover {
  background-color: #A4BEF3;
  color: #242F40;
}
.todo-item .viewing .btn-group .delete {
  border: 2px solid #B80F0A;
  color: #B80F0A;
  transition: all 0.5s ease;
  margin-right: 1rem;
}
.todo-item .viewing .btn-group .delete:hover {
  background-color: #B80F0A;
  color: #242F40;
}
.todo-item .viewing .btn-group .save {
  border: 2px solid #E0B0FF;
  color: #E0B0FF;
  transition: all 0.5s ease;
  margin-right: 1rem;
}
.todo-item .viewing .btn-group .save:hover {
  background-color: #E0B0FF;
  color: #242F40;
}
.todo-item .editing {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.todo-item .editing .input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.todo-item .editing .input-group .todo-label {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 300;
}
.todo-item .editing .input-group input[type=text] {
  height: 2rem;
  width: 25rem;
  margin: 0 1rem;
  padding: 0.125rem 1rem;
  background-color: #242F40;
  color: white;
  border-radius: 50px;
  border: 2px solid #A4BEF3;
  font-size: 1.25rem;
  font-weight: 300;
}
.todo-item .editing .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-item .editing .btn-group .todo-btn {
  height: 2.5rem;
  width: 5rem;
  margin: 0 0.25rem 0.5rem;
  background-color: #242F40;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.todo-item .editing .btn-group .edit, .todo-item .editing .btn-group .cancel {
  border: 2px solid #A4BEF3;
  color: #A4BEF3;
  transition: all 0.5s ease;
}
.todo-item .editing .btn-group .edit:hover, .todo-item .editing .btn-group .cancel:hover {
  background-color: #A4BEF3;
  color: #242F40;
}
.todo-item .editing .btn-group .delete {
  border: 2px solid #B80F0A;
  color: #B80F0A;
  transition: all 0.5s ease;
  margin-right: 1rem;
}
.todo-item .editing .btn-group .delete:hover {
  background-color: #B80F0A;
  color: #242F40;
}
.todo-item .editing .btn-group .save {
  border: 2px solid #E0B0FF;
  color: #E0B0FF;
  transition: all 0.5s ease;
  margin-right: 1rem;
}
.todo-item .editing .btn-group .save:hover {
  background-color: #E0B0FF;
  color: #242F40;
}

/*# sourceMappingURL=todoItem.css.map */
