@import '../../global.scss';

.home {
    width: 100%;
    height: 100vh;
    background-color: $gunmetal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    .home-container {
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}