.pomodoro-menu {
  width: 300px;
  height: 100vh;
  background-color: #242F40;
  margin-left: -14.5rem;
  transition: all 0.5s ease;
  border-right: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
@media (max-width: 425px) {
  .pomodoro-menu {
    margin-left: -39.5rem;
    position: fixed;
    z-index: 5;
  }
}
.pomodoro-menu:hover {
  margin-left: 0;
}
@media (max-width: 425px) {
  .pomodoro-menu:hover {
    margin-left: -16rem;
  }
}
.pomodoro-menu h1 {
  margin: 1rem 0;
}
.pomodoro-menu .menuItem {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.5s ease;
  color: white;
  text-decoration: none;
}
.pomodoro-menu .menuItem:hover {
  background-color: #A4BEF3;
}
.pomodoro-menu .menuItem p {
  font-size: 1.25rem;
  background-color: transparent;
}
.pomodoro-menu .menuItem .menuIcon {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
  background-color: transparent;
}

.short-menu {
  width: 300px;
  height: 100vh;
  background-color: #E0B0FF;
  margin-left: -14.5rem;
  transition: all 0.5s ease;
  border-right: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
@media (max-width: 425px) {
  .short-menu {
    margin-left: -39.5rem;
    position: fixed;
    z-index: 5;
  }
}
.short-menu:hover {
  margin-left: 0;
}
@media (max-width: 425px) {
  .short-menu:hover {
    margin-left: -16rem;
  }
}
.short-menu h1 {
  margin: 1rem 0;
  background-color: #E0B0FF;
}
.short-menu .menuItem {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.5s ease;
  background-color: #E0B0FF;
  color: white;
  text-decoration: none;
}
@media (max-width: 425px) {
  .short-menu .menuItem {
    background-color: #E0B0FF;
  }
}
.short-menu .menuItem:hover {
  background-color: #242F40;
}
.short-menu .menuItem p {
  font-size: 1.25rem;
  background-color: transparent;
}
.short-menu .menuItem .menuIcon {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
  background-color: transparent;
}

.long-menu {
  width: 300px;
  height: 100vh;
  background-color: #A4BEF3;
  margin-left: -14.5rem;
  transition: all 0.5s ease;
  border-right: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
@media (max-width: 425px) {
  .long-menu {
    margin-left: -39.5rem;
    position: fixed;
    z-index: 5;
  }
}
.long-menu:hover {
  margin-left: 0;
}
@media (max-width: 425px) {
  .long-menu:hover {
    margin-left: -16rem;
  }
}
.long-menu h1 {
  margin: 1rem 0;
  background-color: #A4BEF3;
}
.long-menu .menuItem {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.5s ease;
  background-color: #A4BEF3;
  color: white;
  text-decoration: none;
}
@media (max-width: 425px) {
  .long-menu .menuItem {
    background-color: #A4BEF3;
  }
}
.long-menu .menuItem:hover {
  background-color: #242F40;
}
.long-menu .menuItem p {
  font-size: 1.25rem;
  background-color: transparent;
}
.long-menu .menuItem .menuIcon {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
  background-color: transparent;
}

/*# sourceMappingURL=menu.css.map */
