@import '../../global.scss';

.pomodoro-menu {
    width: 300px;
    height: 100vh;
    background-color: $gunmetal;
    // left: -10rem;
    margin-left: -15rem;
    transition: all 0.5s ease;
    border-right: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;

    @include mobile {
        margin-left: -39.5rem;
        position: fixed;
        z-index: 5;
    }

    &:hover {
        margin-left: 0;

        @include mobile {
            margin-left: -16rem;
        }
    }

    h1 {
        margin: 1rem 0;
    }

    .menuItem {
        height: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        margin-bottom: 1rem;
        transition: all 0.5s ease;
        color: white;
        text-decoration: none;

        &:hover {
            background-color: $babyBlue;
        }

        @include mobile {

            &:hover > p, &:hover > .menuIcon  {
               background-color: $babyBlue; 
            }
        }

        p {
            font-size: 1.25rem;
        }
        
        .menuIcon {
            height: 2rem;
            width: 2rem;
            margin-left: 1rem;
            margin-right: 0.5rem;
        }
    }
}

.short-menu {
    width: 300px;
    height: 100vh;
    background-color: $mauve;
    // left: -10rem;
    margin-left: -15rem;
    transition: all 0.5s ease;
    border-right: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;

    @include mobile {
        margin-left: -39.5rem;
        position: fixed;
        z-index: 5;
    }

    &:hover {
        margin-left: 0;

        @include mobile {
            margin-left: -16rem;
        }
    }

    h1 {
        margin: 1rem 0;

        @include mobile {
            background-color: $mauve;
        }
    }

    .menuItem {
        height: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        margin-bottom: 1rem;
        transition: all 0.5s ease;
        color: white;
        text-decoration: none;

        @include mobile {
            background-color: $mauve;
        }

        &:hover {
            background-color: $gunmetal;

            @include mobile {
    
                &:hover > p, &:hover > .menuIcon  {
                   background-color: $gunmetal; 
                }
            }
        }

        p {
            font-size: 1.25rem;

            @include mobile {
                background-color: $mauve;
            }
        }
        
        .menuIcon {
            height: 2rem;
            width: 2rem;
            margin-left: 1rem;
            margin-right: 0.5rem;

            @include mobile {
                background-color: $mauve;
            }
        }
    }
}

.long-menu {
    width: 300px;
    height: 100vh;
    background-color: $babyBlue;
    // left: -10rem;
    margin-left: -15rem;
    transition: all 0.5s ease;
    border-right: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;

    @include mobile {
        margin-left: -39.5rem;
        position: fixed;
        z-index: 5;
    }

    &:hover {
        margin-left: 0;

        @include mobile {
            margin-left: -16rem;
        }
    }

    h1 {
        margin: 1rem 0;

        @include mobile {
            background-color: $babyBlue;
        }
    }

    .menuItem {
        height: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        margin-bottom: 1rem;
        transition: all 0.5s ease;
        color: white;
        text-decoration: none;

        @include mobile {
            background-color: $babyBlue;
        }

        &:hover {
            background-color: $gunmetal;
        }

        @include mobile {

            &:hover > p, &:hover > .menuIcon  {
               background-color: $gunmetal; 
            }
        }

        p {
            font-size: 1.25rem;
            background-color: $babyBlue;
        }
        
        .menuIcon {
            height: 2rem;
            width: 2rem;
            margin-left: 1rem;
            margin-right: 0.5rem;
            background-color: $babyBlue;
        }
    }
}