@import '../../global.scss';

.pomodoro-menu {
    width: 300px;
    height: 100vh;
    background-color: $gunmetal;
    // left: -10rem;
    margin-left: -14.5rem;
    transition: all 0.5s ease;
    border-right: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;

    @include mobile {
        margin-left: -39.5rem;
        position: fixed;
        z-index: 5;
    }

    &:hover {
        margin-left: 0;

        @include mobile {
            margin-left: -16rem;
        }
    }

    .menu-top {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            margin: 1rem 0;
        }
    
        .menuItem {
            height: 3rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
            margin-bottom: 1rem;
            transition: all 0.5s ease;
            color: white;
            text-decoration: none;
    
            &:hover {
                background-color: $babyBlue;
            }
    
            p {
                font-size: 1.25rem;
                background-color: transparent;
            }
            
            .menuIcon {
                height: 2rem;
                width: 2rem;
                margin-left: 1rem;
                margin-right: 0.75rem;
                background-color: transparent;
            }
        }
    }

    // .menu-bottom {
    //     width: 95%;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     margin-bottom: 2rem;

    //     .menu-signup {
    //         text-align: center;
    //         margin-bottom: 0.25rem;
    //     }

    //     .menu-login {
    //         text-align: center;
    //         color: $babyBlue;
    //         margin-top: 0.25rem;
    //     }

    //     .btn-group {
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         gap: 0.5rem;

    //         .btn {
    //             height: 2.5rem;
    //             width: 5rem;
    //             border-radius: 50px;
    //             background-color: $gunmetal;
    //             font-size: 1rem;
    //             cursor: pointer;
    //             transition: all 0.5s ease;
    //             text-decoration: none;
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //         }

    //         .s-btn {
    //             border: 2px solid white;
    //             color: white;
        
    //             &:hover {
    //                 background-color: white;
    //                 color: $gunmetal;
    //             }
    //         }

    //         .l-btn {
    //             border: 2px solid $babyBlue;
    //             color: $babyBlue;
        
    //             &:hover {
    //                 background-color: $babyBlue;
    //                 color: $gunmetal;
    //             }
    //         }
    //     }
    // }
}

.short-menu {
    width: 300px;
    height: 100vh;
    background-color: $mauve;
    // left: -10rem;
    margin-left: -14.5rem;
    transition: all 0.5s ease;
    border-right: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;

    @include mobile {
        margin-left: -39.5rem;
        position: fixed;
        z-index: 5;
    }

    &:hover {
        margin-left: 0;

        @include mobile {
            margin-left: -16rem;
        }
    }

    .menu-top {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            margin: 1rem 0;
            background-color: $mauve;
        }

        .menuItem {
            height: 3rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
            margin-bottom: 1rem;
            transition: all 0.5s ease;
            background-color: $mauve;
            color: white;
            text-decoration: none;

            @include mobile {
                background-color: $mauve;
            }

            &:hover {
                background-color: $gunmetal;
            }

            p {
                font-size: 1.25rem;
                background-color: transparent;
            }
            
            .menuIcon {
                height: 2rem;
                width: 2rem;
                margin-left: 1rem;
                margin-right: 0.75rem;
                background-color: transparent;
            }
        }
    }

    // .menu-bottom {
    //     width: 95%;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     margin-bottom: 2rem;

    //     .menu-signup {
    //         text-align: center;
    //         margin-bottom: 0.25rem;
    //     }

    //     .menu-login {
    //         text-align: center;
    //         color: $gunmetal;
    //         margin-top: 0.25rem;
    //     }

    //     .btn-group {
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         gap: 0.5rem;

    //         .btn {
    //             height: 2.5rem;
    //             width: 5rem;
    //             border-radius: 50px;
    //             background-color: $mauve;
    //             font-size: 1rem;
    //             cursor: pointer;
    //             transition: all 0.5s ease;
    //             text-decoration: none;
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //         }

    //         .s-btn {
    //             border: 2px solid white;
    //             color: white;
        
    //             &:hover {
    //                 background-color: white;
    //                 color: $mauve;
    //             }
    //         }

    //         .l-btn {
    //             border: 2px solid $gunmetal;
    //             color: $gunmetal;
        
    //             &:hover {
    //                 background-color: $gunmetal;
    //                 color: $mauve;
    //             }
    //         }
    //     }
    // }
}

.long-menu {
    width: 300px;
    height: 100vh;
    background-color: $babyBlue;
    // left: -10rem;
    margin-left: -14.5rem;
    transition: all 0.5s ease;
    border-right: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;

    @include mobile {
        margin-left: -39.5rem;
        position: fixed;
        z-index: 5;
    }

    &:hover {
        margin-left: 0;

        @include mobile {
            margin-left: -16rem;
        }
    }

    .menu-top {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            margin: 1rem 0;
            background-color: $babyBlue;
        }

        .menuItem {
            height: 3rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
            margin-bottom: 1rem;
            transition: all 0.5s ease;
            background-color: $babyBlue;
            color: white;
            text-decoration: none;

            @include mobile {
                background-color: $babyBlue;
            }

            &:hover {
                background-color: $gunmetal;
            }

            p {
                font-size: 1.25rem;
                background-color: transparent;
            }
            
            .menuIcon {
                height: 2rem;
                width: 2rem;
                margin-left: 1rem;
                margin-right: 0.75rem;
                background-color: transparent;
            }
        }
    }

    // .menu-bottom {
    //     width: 95%;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     margin-bottom: 2rem;

    //     .menu-signup {
    //         text-align: center;
    //         margin-bottom: 0.25rem;
    //     }

    //     .menu-login {
    //         text-align: center;
    //         color: $gunmetal;
    //         margin-top: 0.25rem;
    //     }

    //     .btn-group {
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         gap: 0.5rem;

    //         .btn {
    //             height: 2.5rem;
    //             width: 5rem;
    //             border-radius: 50px;
    //             background-color: $babyBlue;
    //             font-size: 1rem;
    //             cursor: pointer;
    //             transition: all 0.5s ease;
    //             text-decoration: none;
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //         }

    //         .s-btn {
    //             border: 2px solid white;
    //             color: white;
        
    //             &:hover {
    //                 background-color: white;
    //                 color: $babyBlue;
    //             }
    //         }

    //         .l-btn {
    //             border: 2px solid $gunmetal;
    //             color: $gunmetal;
        
    //             &:hover {
    //                 background-color: $gunmetal;
    //                 color: $babyBlue;
    //             }
    //         }
    //     }
    // }
}