.signup {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 425px) {
  .signup {
    flex-direction: column;
  }
}
.signup .left {
  height: 100vh;
  width: 90%;
  flex: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.signup .left .title {
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: -37.5rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  .signup .left .title {
    margin-left: -12rem;
    margin-top: 2rem;
  }
}
.signup .left .left-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 425px) {
  .signup .left .left-container {
    height: 60vh;
  }
}
.signup .left .left-container h1 {
  font-size: 4rem;
}
@media (max-width: 425px) {
  .signup .left .left-container h1 {
    font-size: 3rem;
  }
}
.signup .left .left-container .outside-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.signup .left .left-container .outside-btn-group .outside-btn {
  height: 3rem;
  width: 3rem;
  border: 2px solid #E0B0FF;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.signup .left .left-container .outside-btn-group .outside-btn:hover {
  background-color: #E0B0FF;
}
.signup .left .left-container .outside-btn-group .outside-btn .icon {
  height: 1.5rem;
  width: 1.5rem;
}
.signup .left .left-container .outside-btn-group .outside-btn .google {
  height: 1.75rem;
  width: 1.75rem;
}
.signup .left .left-container p {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.signup .left .left-container .signup-form {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #A4BEF3;
}
.signup .left .left-container .signup-form .name {
  display: flex;
  gap: 1rem;
}
.signup .left .left-container .signup-form .name .name-text {
  height: 2.5rem;
  width: 15rem;
  border-radius: 20px;
  border: 2px solid #A4BEF3;
  background-color: #1c232e;
  padding: 0 1rem;
  color: #A4BEF3;
  font-size: 1.25rem;
}
@media (max-width: 425px) {
  .signup .left .left-container .signup-form .name .name-text {
    width: 9rem;
  }
}
.signup .left .left-container .signup-form .name .name-text::placeholder {
  color: #A4BEF3;
  font-size: 1.25rem;
}
.signup .left .left-container .signup-form .form-text {
  height: 2.5rem;
  width: 33.25rem;
  border-radius: 20px;
  border: 2px solid #A4BEF3;
  background-color: #1c232e;
  padding: 0 1rem;
  color: #A4BEF3;
  font-size: 1.25rem;
}
@media (max-width: 425px) {
  .signup .left .left-container .signup-form .form-text {
    width: 21.5rem;
  }
}
.signup .left .left-container .signup-form .form-text::placeholder {
  color: #A4BEF3;
  font-size: 1.25rem;
}
.signup .left .left-container .signup-form .signup-btn {
  height: 3rem;
  width: 6rem;
  background-color: #1c232e;
  color: #E0B0FF;
  border: 2px solid #E0B0FF;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
}
.signup .left .left-container .signup-form .signup-btn:hover {
  background-color: #E0B0FF;
  color: #1c232e;
}
.signup .right {
  height: 100vh;
  width: 90%;
  flex: 5;
  background: linear-gradient(135deg, rgb(164, 190, 243) 50%, rgb(224, 176, 255) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 425px) {
  .signup .right {
    width: 100%;
  }
}
.signup .right .right-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 425px) {
  .signup .right .right-container {
    gap: 1rem;
  }
}
.signup .right .right-container h2 {
  font-size: 3rem;
  color: white;
}
@media (max-width: 425px) {
  .signup .right .right-container h2 {
    font-size: 2.5rem;
  }
}
.signup .right .right-container p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 300;
  width: 70%;
  color: #1c232e;
  line-height: 35px;
}
@media (max-width: 425px) {
  .signup .right .right-container p {
    width: 90%;
  }
}
.signup .right .right-container p span {
  color: white;
  font-size: 1.5rem;
}
.signup .right .right-container .login-a {
  text-decoration: none;
}
.signup .right .right-container .login-a .login-btn {
  height: 3rem;
  width: 6rem;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.signup .right .right-container .login-a .login-btn:hover {
  background-color: white;
  color: #A4BEF3;
}

/*# sourceMappingURL=signup.css.map */
