@import '../../../global.scss';

.note-item {
    height: 8rem;
    width: 13rem;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-right: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
        background-color: $babyBlue;
        color: $gunmetal;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
        font-weight: 300;
    }
}