.pomodoro {
  width: 100%;
  height: 100vh;
  background-color: #1c232e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 425px) {
  .pomodoro {
    margin-left: 3rem;
  }
}
.pomodoro .container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.pomodoro .container .t-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.pomodoro .container .t-btn-group .t-btn {
  height: 3.5rem;
  width: 11rem;
  background-color: #1c232e;
  border: 2px solid #A4BEF3;
  border-radius: 50px;
  font-size: 1.75rem;
  color: #A4BEF3;
  cursor: pointer;
  transition: all 0.5s ease;
}
@media (max-width: 425px) {
  .pomodoro .container .t-btn-group .t-btn {
    height: 2.75rem;
    width: 6.25rem;
    font-size: 1rem;
  }
}
.pomodoro .container .t-btn-group .t-btn:hover {
  background-color: #A4BEF3;
  color: #1c232e;
}
.pomodoro .container .progress {
  height: 20rem;
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid #A4BEF3;
  border-radius: 100px;
}
@media (max-width: 425px) {
  .pomodoro .container .progress {
    height: 12rem;
    width: 20rem;
    border: 4px solid #A4BEF3;
  }
}
.pomodoro .container .progress h1 {
  font-size: 12rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem;
  color: transparent;
  -webkit-text-stroke-color: #A4BEF3;
  -webkit-text-stroke-width: 5px;
}
@media (max-width: 425px) {
  .pomodoro .container .progress h1 {
    font-size: 6.5rem;
    background-color: transparent;
    -webkit-text-stroke-width: 3px;
  }
}
.pomodoro .container .b-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.pomodoro .container .b-btn-group .b-btn {
  height: 3.5rem;
  width: 7.5rem;
  border-radius: 100px;
  background-color: #1c232e;
  font-size: 1.75rem;
  cursor: pointer;
  transition: all 0.5s ease;
  text-decoration: none;
}
@media (max-width: 425px) {
  .pomodoro .container .b-btn-group .b-btn {
    height: 2.75rem;
    width: 6.25rem;
    font-size: 1rem;
  }
}
.pomodoro .container .b-btn-group .pause {
  border: 2px solid #E0B0FF;
  color: #E0B0FF;
}
.pomodoro .container .b-btn-group .pause:hover {
  background-color: #E0B0FF;
  color: #1c232e;
}
.pomodoro .container .b-btn-group .start {
  border: 2px solid #A4BEF3;
  color: #A4BEF3;
}
.pomodoro .container .b-btn-group .start:hover {
  background-color: #A4BEF3;
  color: #1c232e;
}

.short {
  width: 100%;
  height: 100vh;
  background-color: #E0B0FF;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 425px) {
  .short {
    margin-left: 3rem;
  }
}
.short .container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.short .container .t-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.short .container .t-btn-group .t-btn {
  height: 3.5rem;
  width: 11rem;
  background-color: #E0B0FF;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 1.75rem;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}
@media (max-width: 425px) {
  .short .container .t-btn-group .t-btn {
    height: 2.75rem;
    width: 6.25rem;
    font-size: 1rem;
  }
}
.short .container .t-btn-group .t-btn:hover {
  background-color: white;
  color: #E0B0FF;
}
.short .container .progress {
  height: 20rem;
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid white;
  border-radius: 100px;
}
@media (max-width: 425px) {
  .short .container .progress {
    height: 12rem;
    width: 20rem;
    border: 4px solid white;
  }
}
.short .container .progress h1 {
  font-size: 12rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem;
  color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 5px;
}
@media (max-width: 425px) {
  .short .container .progress h1 {
    font-size: 6.5rem;
    background-color: transparent;
    -webkit-text-stroke-width: 3px;
  }
}
.short .container .b-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.short .container .b-btn-group .b-btn {
  height: 3.5rem;
  width: 7.5rem;
  border-radius: 100px;
  background-color: #E0B0FF;
  font-size: 1.75rem;
  cursor: pointer;
  transition: all 0.5s ease;
  text-decoration: none;
}
@media (max-width: 425px) {
  .short .container .b-btn-group .b-btn {
    height: 2.75rem;
    width: 6.25rem;
    font-size: 1rem;
  }
}
.short .container .b-btn-group .pause {
  border: 2px solid #1c232e;
  color: #1c232e;
}
.short .container .b-btn-group .pause:hover {
  background-color: #1c232e;
  color: #E0B0FF;
}
.short .container .b-btn-group .start {
  border: 2px solid white;
  color: white;
}
.short .container .b-btn-group .start:hover {
  background-color: white;
  color: #E0B0FF;
}

.long {
  width: 100%;
  height: 100vh;
  background-color: #A4BEF3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 425px) {
  .long {
    margin-left: 3rem;
  }
}
.long .container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.long .container .t-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.long .container .t-btn-group .t-btn {
  height: 3.5rem;
  width: 11rem;
  background-color: #A4BEF3;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 1.75rem;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}
@media (max-width: 425px) {
  .long .container .t-btn-group .t-btn {
    height: 2.75rem;
    width: 6.25rem;
    font-size: 1rem;
  }
}
.long .container .t-btn-group .t-btn:hover {
  background-color: white;
  color: #A4BEF3;
}
.long .container .progress {
  height: 20rem;
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid white;
  border-radius: 100px;
}
@media (max-width: 425px) {
  .long .container .progress {
    height: 12rem;
    width: 20rem;
    border: 4px solid white;
  }
}
.long .container .progress h1 {
  font-size: 12rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem;
  color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 5px;
}
@media (max-width: 425px) {
  .long .container .progress h1 {
    font-size: 6.5rem;
    background-color: transparent;
    -webkit-text-stroke-width: 3px;
  }
}
.long .container .b-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.long .container .b-btn-group .b-btn {
  height: 3.5rem;
  width: 7.5rem;
  border-radius: 100px;
  background-color: #A4BEF3;
  font-size: 1.75rem;
  cursor: pointer;
  transition: all 0.5s ease;
  text-decoration: none;
}
@media (max-width: 425px) {
  .long .container .b-btn-group .b-btn {
    height: 2.75rem;
    width: 6.25rem;
    font-size: 1rem;
  }
}
.long .container .b-btn-group .pause {
  border: 2px solid #1c232e;
  color: #1c232e;
}
.long .container .b-btn-group .pause:hover {
  background-color: #1c232e;
  color: #A4BEF3;
}
.long .container .b-btn-group .start {
  border: 2px solid white;
  color: white;
}
.long .container .b-btn-group .start:hover {
  background-color: white;
  color: #A4BEF3;
}

/*# sourceMappingURL=pomodoroTimer.css.map */
