@import '../../../global.scss';

.btn-tasks {
    height: 3rem;
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gunmetal;
    border: none;
    color: $babyBlue;
    cursor: pointer;

    @include mobile {
        height: 4.5rem;
        width: 15rem;
    }

    &:hover {
        border-left: 2px solid $babyBlue;
        border-bottom: 2px solid $babyBlue;
        color: $babyBlue;
    }

    span {
        font-size: 1.125rem;

        @include mobile {
            font-size: 1rem;
        }
    }
}

.btn-tasks[aria-pressed=true] {
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    color: white;
}